.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #fb9300;
  border: 1px solid #fb9300;
  color: #f5e6ca;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #fb9200dc;
  border-color: #fb9200dc;
}
